*{
    margin: 0;
    padding: 0;

}
.menu{
    display: block;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
header{
    height: 600px;
}
/*......................NAV.........................*/
nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#lista{
    margin-left: 0%;
}
.menu{
    width: auto;
    height: 140px;
    padding: 40px 30px;
    margin-top: -3%; 
}
.fa-bars{
    cursor: pointer; 
    font-size: 50px;  
    color: #000;
}
.nave .fa-bars{
    color: #fff;
} 
nav ul{
    display: block;
    width: 100%;
    height: 610px;
    background-color: #000;
    position: absolute;
    list-style: none;
    left: -100%;
    top: 100px;
    text-align: center;
    transition: left .5s;

}
#lista{
    top: 90px;
}
.menu2{
   left: 0%;
}
nav ul li{
    font-size: 30px;
    margin-top: 10%;
    margin-left: 0%;
}
nav ul li a{
    color: #fff;
    font-weight: bold;
}
.logo{
    margin-top: 1%;
}

.logo h1{
    font-size: 5vw;
}
.descripcion{
    margin-left: 50%;
    margin-top: -15%;
    font-size: 2.5vw;
}
/*....................PANEL...........*/
.panel{
    width: 100%;
    height: 500px;
    position: relative;

}
.titulo-promo{
    font-size: 30px;
    width: auto;
    left: 5%;
    
  }
.boton-promo{
  left: 40%;
  top: 50%;
  background-color: #D1AF3B;
  border-radius: 10px;

}
/*....................RESEÑA...........*/
.reseña{
    display: block;
    width: 100%;
    height: auto;
    padding: 0 15%;
}
.reseña div{
    text-align: justify;
    display: block;
    width: 100%;
    height: auto;
    margin-left: -10px;
    padding: 5% 5%;
}
.reseña div img {
   margin-left: 30%;
}
/*....................CARRUZEL...........*/
.contenedor-carrusel{
    height: 500px;
}
.contenedor-carrusel h2{
    width: 100%;
    display: block;
    top: 50px;
    padding: 0 10%;
    text-align: center;
}
.contenedor-selector{
    display: none
}
.carrusel{
    width: 90%;
    height: 30vh;
    top: 37%;
    left: -30px;
}
/*....................servicios............*/
.contenedor-servicios{
    display: block;
    width: 100%;
    height: auto;
    padding: 0 10%;
}
.contenedor-servicios div{
   
    display: block;
    width: 100%;
    border-radius: 2%;
    margin-top: 5%;
    padding: 0 10%;
    margin-left: 0;
}

.contenedor-servicios div div{
    position: relative;
    width: 100%;
    padding: 20px 0px
}
.contenedor-servicios div h2{
    display: block;
    width: 100%;
    text-align: center;
}
.contenedor-servicios div img{
   margin: 20px 50px;
}

/*....................cotizar............*/
.cotizar{
    width: 100%;
    height: auto;
    padding: 5% 5%;
}
.formulario{
    width: 100%;
    height: 75%;
    padding: 20px;
}
.texto{
    display: block;
    margin-top: 10px;
}

.titulo-formulario{
    width: 100%;
    position: relative;
    display: block;
    margin-left: -10px;
    margin-top: 0px;
}
.titulo-formulario h2{
    width: 100%;
    text-align: center;
}
.titulo-formulario p{
    width: 100%;
    text-align: center;
}
.label-texto{
    display: none;
}
.input-texto{
    width: 100%;
   padding: 0 10px;
 }
 .boton{
    width: 100%;
    display: block;
    margin-left: 0%;
    margin-top: -60px;
  }
.privacidad input{
    margin-top: 1%;
}

.boton-horario{
    margin-left: 80px;
    margin-top: 10px;
}

/*....................FOOTER...........*/
footer{
    display: block;
    align-items: 10%;
    height: 1300px;
    font-size: 25px;
}
footer div{
    display: block;
    position: relative;
}
.footer-logo{
  width: 60%;
  height: 300px;
  left: 0%;
  top: 50px;
}
.footer-logo h1{
    font-size: 8vw;
    text-align: center;
    margin-left: 20%;
}
.footer-logo p{
    font-size: 4vw;
    width: 600px;
    top: 50%;
    margin-left: 20%;
}
.footer-legal{
    font-size: 20px;
    width: auto;
     left: 2%;
}
.footer-contacto{
    font-size: 20px;
  left: 2%;
  top: 5%;
}
.subtitulo{
    font-size: 35px;
}
.footer-redes{
    font-size: 20px;
  width: 300px;
  left: 2%;
  top: 10%;
}
.footer-redes a{
    font-size: 40px;
}
.footer-copyr{
  height: 280px;
  display: block;
  position: relative;
  align-items: center;
  padding: 0 20px;
}
.footer-copyr div{
    font-size: 20px;
    margin-top: 10%;
    color: #fff;
    text-align: center;
}

.copy{
  margin-left: 0;
}