* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  align-items: center;
  padding: 10px;
  height: 100px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.navbar .search-box {
  display: flex;
  align-items: center;
}

.navbar .search-box input {
  padding: 5px;
  border-radius: 5px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin-bottom: 10px;
  }

  .navbar .search-box {
    margin-top: 10px;
  }
}

/*carrocel*/
.slider{
  width: 100%;
  margin: auto;
  height: 400px;
  overflow: hidden;
}
.slider ul {
  padding: 0;
  display: flex;
  width: 400%;

  animation: slider 20s infinite alternate;
  animation-timing-function: linear;
}
.slider li {
  width: 100%;
  list-style: none;
}

.slider li img {
  width: 100%;
  height: 40%;
}

@keyframes slider{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

}

/*carts noticias*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(25% - 20px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

/*footer*/
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  height: 200px;
  
}

.container {
  max-width: 1400px;
 
  
  background-color: #333;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-6 {
  width: 50%;
}

.footer-links li {
  list-style: none;
  margin-bottom: 10px;
  
}

.footer-links li a {
  text-decoration: none;
  color: #fff;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  display: inline-block;
  color: #fff;
  font-size: 30px;

}

.autor a {
  text-decoration: none;
  color: black;
}